.note-preview{
    width: 100vw;
    min-height: 100vh;
    background: #fff;

    .markdown-preview{
        margin: 0 auto;
        padding: 0 10% 300px 10%;
        width: 100vw!important;;
        height: 100vh!important;
    }
}