.not-found{
    display: flex;
    align-content: center;
    justify-content: space-around;
    min-height: 60vh;

    h1{
        align-self: center;
        margin: 0;
        font-size: 88px;
        font-weight: 400;
        text-align: center;
        color: rgba(158, 158, 158, 0.54);
    }
}